.app__footer{
    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    padding-bottom: 6vh;
    gap: 4vh;
}
.app__footer-menu{
    display: flex;
    gap: 3vw;
    font-size: 0.9vw;
}
.app__socials{
    display: flex;
    gap: 2vw;
}
.app__cprights{
    font-size: 0.8vw;
}