.app__hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22vh;
    
    h1{
        font-size: 5vw;
    }

    #text-2{
        margin-left: 10vw;
        margin-top: 2vh;
    }
    p{
        margin-top: 8vh;
        width: 40vw;
        font-size: 2vw;
        text-align: center;
        line-height: 6vh;
    }

}
#span1{
    color: var(--text-red);
}
#span2{
    color: var(--text-blue);
}