@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&family=Yesteryear&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-left: 80px;
    background: linear-gradient(45deg, #171717, #080808);
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

:root{
    --text-color: #dcdcdc;
    --cta-color: #00656c;
}
p, a, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

h1{
    font-family: 'Yesteryear', cursive;
    background: -webkit-linear-gradient(45deg,#25d96d, #0936a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
    font-weight: 200;
}