*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    
    

}
::-webkit-scrollbar{
    width: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --text-red: #B10000;
    --text-blue: #008799;
    --text-gen: #e6e6e6;
}
a,
p{
    text-decoration: none;
    color: var(--text-gen);
    font-family: CPG-regular;
    font-weight: 300;
}

h2,
h3,
h4{
    font-family: CPG-bold;
    color: var(--text-gen);
}

h1{
    font-family: Hanson-bold;
    color: var(--text-gen);
    font-size: 3vw;
}

@font-face {
    font-family: CPG-regular;
    src: url('./assets/CopperplateGothic\ Regular.ttf');
}
@font-face {
    font-family: CPG-bold;
    src: url('./assets/CopperplateGothic\ Bold.ttf');
}
@font-face {
    font-family: Hanson-bold;
    src: url('./assets/Hanson-Bold.ttf');
}
.App{
    height: 94vh;
    overflow-y: auto;
    background: url('./assets/bg.png');
    background-size: cover;
    padding: 2vw 4vw;
}