@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Yesteryear&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-left: 80px;
    background: linear-gradient(45deg, #1d1d1d, #080808);
}
::-webkit-scrollbar{
    width: 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

:root{
    --text-color: #fff;
    --cta-color: #00656c;
}
p, a, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

h1{
    font-family: 'Yesteryear', cursive;
}